@font-face {
  font-family: "JetBrainsMono Nerd Font";
  src: url("../../public/fonts/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


:root {
  font-family: "JetBrainsMono Nerd Font", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fafafa;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  text-align: center;
  transform: translateY(-10%);
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;
  max-width: 600px;
}

.search-form input {
  font-family: "JetBrainsMono Nerd Font", monospace;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  border: 1px solid #ffffff38;
  font-size: 1rem;
  width: 100%;
  outline: none;
  transition: border-color 0.25s;
}

.search-form input:hover,
.search-form input:focus {
  border-color: #ffffff; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #fafafa;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #fafafa;
  }
}
